*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #c2c2d6;
}
.light-grey {
    background: rgb(102, 102, 102);
}

.dark-red {
    background: rgb(172, 57, 57);
}

.dark-blue {
    background: rgb(0, 68, 102);
    position: absolute;
    height: 130px;
    bottom: 5px;
}

button:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
}

button {
    position: relative;
    height: 65px;
    width: 80px;
    color: white;
    outline: 1px solid black;
    border: none;
    background: #4d4d4d;
    font-family: Share Tech Mono, monospace;
    font-size: 20px;
    cursor: default;
}
