@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #c2c2d6;
}

.calculator-grid-container {
    display: grid;
    /* border : 2px solid #47476b; */
    /* background: black; */
    margin-top: 2rem;
    /* have max 4 items each width 6rem */
    grid-template-columns: repeat(4, 6rem);
    /* Min of 7rem Max auto  */
     /* have max 5 row items each height 6rem */
    grid-template-rows: minmax(6rem, auto) repeat(5, 6rem);
    justify-content: center;

}

.col-span-two {
    grid-column: span 2;
}

.row-span-two {
    grid-row: span 2;
}

.results {
    /* begin from left start to to right end */
    grid-column: 1 / -1; 
    background-color: black;
    display: flex;
    font-family: digital;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    outline: 1px solid #000;
}

.results .top-view {
    color: orange;
    font-size: 20px;
}
.results .bottom-view {
    font-size: 29px;
    /* font-family: digital; */
    color: white;
}


.calculator-grid-container > button:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
}

.calculator-grid-container > button {

    color: white;
    outline: 1px solid black;
    border: none;
    background: #4d4d4d;
    font-family: Share Tech Mono, monospace;
    font-size: 20px;
    cursor: default;
}


.light-grey {
    background: rgb(102, 102, 102) !important;
}

.dark-red {
    background: rgb(172, 57, 57) !important;
}

.dark-blue {
    background: rgb(0, 68, 102) !important;
}
